html {
    box-sizing: border-box;
    overflow-x:hidden
}
body {
    margin:0;
    font-family:Eina,sans-serif;
    line-height:1.5;
    background-color: #D5D2D0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Eina,sans-serif;
    font-weight:400;
    margin:10px 0;
    color: #92737A;
}
p {
    margin: 1em;
}
.header {
    max-width: 50%;
    margin-top: 2em;
}
.nav {
    position:fixed;
    max-width:100%;
    z-index:1;
    top:0
}
.btn {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    font-size: 1em;
    text-decoration:none;
    color:#765C62;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}
.btn:hover{
    color:white;
    background-color:black;
}

.btn-send {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    font-size: 1em;
    text-decoration:none;
    color:black;
    background-color: #BDB8B5;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}
.btn:hover{
    color:white;
    background-color:black;
}

.content-center {
    text-align:center
}

.kontaktInput {
    margin-left: 1em;
    padding:8px;
    display:block;
    border:none;
    background-color: #D5D2D0;
    border-bottom:1px solid #92737A;
    width:80%
}
.bildKarusell {
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.minaBilder {
    display: none;
}
.slide-img {
    height: 550px;
    width: 400px;
}
@media screen and (max-width: 600px){
    .slide-img {
        width: 200px;
        height: 275px;
    }
}

.before, .after {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.after {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.before {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.before:hover, .after:hover {
    background-color: rgba(0,0,0,0.1);
}

.dots {
    text-align: center;
}
.punkt {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #765C62;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .punkt:hover {
    background-color: #92737A;
}

.fb {
    max-width: 2em;
}
iframe {
    width: 1000px;
    height: 700px;
    border: 1px solid black;
}
@media screen and (max-width: 600px){
    iframe {
        width: 300px;
        height: 300px;
        border: 1px solid black;
    }
}
.logo {
    max-width: 40%;
}



